.button {
  width: 60px;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;

  &__primary {
    background-color: rgb(70, 151, 194);
    border: 2px solid rgb(169, 166, 166);
  }
  &__secondary {
    background-color: white;
    border: 2px solid rgb(70, 151, 194);
  }
}
