$mobiles-screen: 767px;
$tablets-screen: 992px;
$laptops-screen: 1200px;

.App {
  padding: 16px;

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__images {
    column-count: 1;
    column-gap: 16px;
    img {
      display: block;
      max-width: 100%;
    }
    @media screen and (min-width: 767px) {
      column-count: 2;
    }

    @media screen and (min-width: 992px) {
      column-count: 3;
    }

    @media screen and (min-width: 1200px) {
      column-count: 4;
    }
  }
}
