.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
img {
  max-width: 250px;
  max-height: 400px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .images {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .images {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .images {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .images {
    grid-template-columns: 1fr 1fr;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .images {
    grid-template-columns: 1fr;
  }
}
